* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Kluczowe: padding nie powiększa szerokości elementu */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  --navbar-height: 120px;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  height: var(--navbar-height);
  background-color: #f9faf5; /*kolor paska*/
  border-bottom: 1px solid #0a1a4e;
  position: relative;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav-logo {
  color: #000030;
  font-family: "Canta one", serif;
  font-weight: 1000;
  transform: scaleY(1.1);
  font-size: 1.8rem;
  letter-spacing: 0px;
}

.nav-menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
  padding: 0;
  font-family: "Monaco", sans-serif;
  font-size: 1.2rem;
}

.nav-menu a {
  text-decoration: none;
  color: #504f57;
  font-weight: 500;
  transition: color 0.2s;
}

.nav-menu a:hover {
  color: #121318;
}

.nav-actions {
  display: flex;
  gap: 15px;
}

.nav-logo {
  height: 100px;
}

.nav-logo img {
  height: 100px;
  object-fit: contain;
}

.nav-icon {
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;
}

.nav-icon:hover {
  background-color: #9e9eb0;
}

.nav-iconFav-img {
  width: 40px;
  background: none;
  border: none;
  outline: none;
  object-fit: contain;
}

.nav-iconCart-img {
  width: 40px;
  background: none;
  border: none;
  outline: none;
  object-fit: contain;
}

.nav-iconAcc-img {
  width: 40px;
  background: none;
  border: none;
  outline: none;
  object-fit: contain;
}

.nav-iconCart {
  border: 1px solid #f9faf5;
}

.nav-iconCart:hover {
  border: 1px solid black;
}

.main-content {
  display: flex;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden; /*blokada scrolla*/
  background-color: #f9faf5;
  padding: 0;
}

.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.divider {
  width: 1px;
  background-color: #0a1a4e;
  height: 100%;
  align-self: center;
}

.right-side {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card img {
  align-self: center; /* Zmieniłem na center, żeby pasowało do napisu CENA */
  max-width: 100%;
  height: auto;
}

.card-title {
  font-family: "Gill Sans", sans-serif;
  color: #504f57;
  margin-bottom: 5px;
  font-weight: normal;
  letter-spacing: 4px;
}

.card-price {
  font-family: system-ui;
  font-weight: bold;
  color: #000030;
  margin-bottom: 20px;
  font-size: 2.5rem;
  transform: scaleX(1.1);
}
